.selected-hero-container {    
    margin-bottom: 25px;

    .selected-hero-card {
        padding: 0;
    }

    .descricao-card {
        h3 {
            margin-top: 0;
        }
    }
}

.card-hero {
    height: 200px;
    img {
        height: 100%;
    }
}

.mt10 {
    margin-top: 10px;
}

.mb25 {
    margin-bottom: 25px;
}