<div class="row selected-hero-container">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="Select a Hero" #busca (keyup)="0">
    </div>

    <div *ngIf="selectedHero" class="col-md-6 selected-hero-card">
      <div class="descricao-card col-md-6 col-xs-6 hidden-xs">
          <h3>Habilidades</h3>

          <ul class="list-group">
            <li class="list-group-item" *ngFor="let attr of selectedHero.atributos">
              <span class="badge">{{ attr.valor }}</span>
              <b>{{ attr.nome }}</b>
            </li>
          </ul>
      </div>
      <div class="col-md-6 col-xs-6 card-hero">
        <img src="assets/img/{{selectedHero.img}}" alt="{{selectedHero.nome}}" *ngIf="selectedHero" class="img-responsive">
        <p>{{selectedHero.nome}}</p>
      </div>
    </div>
</div>

<div class="row mt10 linha-heroes">
  <div
    class="col-xs-6 col-md-3 card-hero mb25"
    *ngFor="let hero of heroes | heroFiltro:busca.value">
      <img (click)="selecionarHero(hero)" src="assets/img/{{hero.img}}" alt="{{hero.nome}}" class="img-responsive">
      <p>{{hero.nome}}</p>
  </div>
</div>